<!DOCTYPE html>
<html>
{{template "Header" .}}
<body>
    <div class="parent">
        <div class="qr-card">
            <div class="qr-left">
                <h1>Enter ID or scan a QR code.</h1>
                <form action="/getId" method="GET">
                    <div class="floating-input">
                        <input type="text" name="id" id="idField" placeholder="Enter ID" required>
                        <label for="idField">Staff ID:</label>
                    </div>
                    <button type="submit" class="btn-soft">Redeem Gift</button>
                </form>
            </div>
            <div class="qr-right">
                <form id="qrForm" action="/decodeQR" method="POST" enctype="multipart/form-data">
                    <div class="dropDiv" id="dropDiv">
                        <span class="dropFiles">Drop file here or click to upload</span>
                        <input type="file" name="dropQR" id="dropQR" accept="image/*" hidden>
                    </div>
                </form>
                <script>
                    const dropZone = document.getElementById("dropDiv");
                    const fileInput = document.getElementById("dropQR");

                    dropZone.addEventListener("click", () => {
                        fileInput.click();
                    });

                    dropZone.addEventListener("dragover", e => {
                        e.preventDefault();
                        dropZone.classList.add("dragover");
                    });

                    dropZone.addEventListener("dragleave", () => {
                        dropZone.classList.remove("dragover");
                    });

                    dropZone.addEventListener("drop", e => {
                        e.preventDefault();

                        const file = e.dataTransfer.files[0];
                        fileInput.files = e.dataTransfer.files;

                        document.getElementById("qrForm").submit();
                    });

                    fileInput.addEventListener("change", () => {
                        document.getElementById("qrForm").submit();
                    });
                </script>
            </div>
        </div>
    </div>
</body>
</html>