{{define "Header"}}
<head>
    <meta charset="UTF-8">
    <title>Redeem</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/index.css" rel="stylesheet">
    <link href="/static/admin.css" rel="stylesheet">
    <link href="/static/result.css" rel="stylesheet">
    <link href="/static/staff.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<header class="menu">
    <a href="/" class="header-link">
        <h1>Redeem</h1>
    </a>
    {{if .}}
    <input type="radio" name="menu" id="menu-on">
    <label for="menu-on" class="material-icons hamburger">menu</label>
    <input type="radio" name="menu" id="menu-off">
    <div class="sliding-panel">
        <label for="menu-off" class="material-icons close">close</label>
        <h3>Side Panel</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Redeemed</th>
                    <th>Redeemed At</th>
                </tr>
            </thead>
            <tbody>
            {{range .}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{if.Redeemed}}
                            <span class="tick">✓</span>
                        {{else}}
                            <span class="cross">❌</span>
                        {{end}}
                    </td>
                    <td>{{if .RedeemedAt}}
                            {{.RedeemedAt.Format "2006-01-02 15:04:05"}}
                        {{else}}
                            -
                        {{end}}
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    {{end}}
</header>
{{end}}